:root {
    --font: font-family: 'Open Sans', sans-serif;
    --secondFont: font-family: 'Merriweather', serif;

    --titleColor: #393E41;
    --subColor: #D3D0CB;
    --bckColor: #E7E5DF;
    --higlightColor: #44BBA4;
    --formsColor: #E7BB41;
}

/* Global Config*/
html {
    font-size: 62.5%;
    box-sizing: border-box;    
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: var(--font);
    background-color: var(--bckColor);
}

.no-padding{
    padding:0;
}

.no-margin{
    margin:0;
}

a{
    text-decoration: none;
    color: var(--titleColor);
}

li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    color: var(--titleColor);
    font-weight: bold;
}

h1{
    font-size: 3.8rem;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}


.container{
    display: flex;
    justify-content: space-between;
    max-width: 120rem;
    margin: 0 auto;
}

#nav_title{
    margin: 2rem 0 0 0;
    transition: 0.5s;
}

#nav_title:hover{
    color:var(--higlightColor);
    cursor: pointer;
    transition: 0.5s;
}

@media (min-width: 768px){
    #nav_links{
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

}